/* Control
---------------------------------------------------------------------------------- */

/*
cssg

	control					__negative | __positive
		control_btn
*/

.control {
    flex: 1 0 auto;
    align-self: center;
    text-align: center;
    }

// todo: fit screen

.control_btn {
    height: 9rem;
    width: 9rem;

    border: .5rem solid transparent;
    border-radius: 50%;

    background-color: transparent;
    background-image: svg("$(path-img)buttons/skip");
    background-size: auto 100%;
    background-repeat: no-repeat;

    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;

    transition: transform .1s ease-out;
    transform: scale(1);

    outline: none;

    &:active {
        transform: scale(.8);
        }

    // context mod
    .control__negative & {
        background-image: svg("$(path-img)buttons/no");
        }

    // context mod
    .control__positive & {
        background-image: svg("$(path-img)buttons/yes");
        }
    }

/* /Control
---------------------------------------------------------------------------------- */