/* Icons
---------------------------------------------------------------------------------- */

/*
cssg

	icon-w			__l
		icon		__l

*/

/* Sizes
-------------------------------------------------- */

$size-normal: 16px;
$size-large: 24px;

/* /Sizes */


/* Core
-------------------------------------------------- */

.icon-w {
	display: inline-block;
	vertical-align: -2px;

	width: $size-normal;
	height: $size-normal;
	margin-right: $offset;
	overflow: hidden;

	text-align: center;
	line-height: $size-normal;
	}

.icon {
	display: inline-block;
	vertical-align: middle;

	width: $size-normal;
	height: $size-normal;
	}

/* /Core */


/* Size mods
-------------------------------------------------- */

/* L */

.icon-w__l {
	width: $size-large;
	height: $size-large;

	.icon__l {
		width: $size-large;
		height: $size-large;
		}
	}

/* /L */

/* /Size mods */

/* /Icons
---------------------------------------------------------------------------------- */