/* Label
---------------------------------------------------------------------------------- */

/*
cssg

	label			__big
		...
*/

.label {
	margin: $grid-2 0;

	text-align: center;
	color: $c-dark;
	}

/* /Label
---------------------------------------------------------------------------------- */