/* Label
---------------------------------------------------------------------------------- */

/*
cssg

	label			__big
		...
*/

.label {
	font-size: $fs-normal;
	text-align: center;
	color: $c-dark;
	}

.label__big {
	font-size: $fs-l;
	}

/* /Label
---------------------------------------------------------------------------------- */