/* Base
---------------------------------------------------------------------------------- */

/* Core
-------------------------------------------------- */

html {
    height: 100%;
	overflow: hidden;
	font-size: 6px;

	@media(min-height: 550px) {
		font-size: 7px;
		}

	@media(min-height: 650px) {
		font-size: 8px;
		}

	@media(min-height: 780px) {
		font-size: 10px;
		}
    }

body {
    min-height: 100%;
	overflow: hidden;

    font: normal $fs-normal/$lh-normal $ff-main;
    color: $c-base;
	background: $c-bg url(../img/bg/pattern.png) repeat;
    }

/* /Core */


/* Links
-------------------------------------------------- */

/*
Link

markup:
<a href="#333" title="">Regular link</a>

Styleguide 1
*/

a {
    color: $c-light;

    &:hover {
        color: $c-blue;
        }

    &:active {
        color: $c-yellow;
        }
    }

/* /Links */


/* Lists
-------------------------------------------------- */

ol, ul, menu {
	margin: 0;
	padding: 0;
	list-style: none;
	}

/* /Lists */

/* /Base
---------------------------------------------------------------------------------- */
