/* Base
---------------------------------------------------------------------------------- */

/* Core
-------------------------------------------------- */

html {
    height: 100%;
	overflow: hidden;
    }

body {
    min-height: 100%;
	overflow: hidden;

    font: normal $fs-normal/$lh-normal $ff-main;
    color: $c-base;
	background: $c-bg url(../img/bg/pattern.png) repeat;
    }

/* /Core */


/* Links
-------------------------------------------------- */

/*
Link

markup:
<a href="#333" title="">Regular link</a>

Styleguide 1
*/

a {
    color: $c-light;

    &:hover {
        color: $c-blue;
        }

    &:active {
        color: $c-yellow;
        }
    }

/* /Links */


/* Lists
-------------------------------------------------- */

ol, ul, menu {
	margin: 0;
	padding: 0;
	list-style: none;
	}

/* /Lists */

/* /Base
---------------------------------------------------------------------------------- */
