/* Layout
---------------------------------------------------------------------------------- */

/* Body
-------------------------------------------------- */

body {
    display: flex;
    flex-direction: column;
    }

/* /Body */


/* Root
-------------------------------------------------- */

.root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    }

/* /Root */


/* Common wrapper
-------------------------------------------------- */

.container {
    position: relative;
    box-sizing: border-box;

    margin: 0 auto;
	padding: $grid-2 0;

	@media(--s) {
		padding: $grid-2 $grid-3;
		}

	@media(--n) {
		width: $width-normal;
		}
    }

/* /Common wrapper */


/* Header
-------------------------------------------------- */

.header {

    }

/* /Header */


/* Footer
-------------------------------------------------- */

.footer {

    }

/* /Footer */


/* Main
-------------------------------------------------- */

.main {
    flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-content: stretch;

	& > div {
		box-sizing: border-box;
		}

	.label {
		flex: 0 1 auto;
		}

	.scene {
		flex: 1 0 75vh;
		line-height: 75vh;
		}

	.controls {
		flex: 1 1 12vh;
		}

	// global context
	.touchevents & {
		.label {
			flex: 1 0 auto;
			}

		.scene {
			flex: 1 0 80vh;
			line-height: 80vh;
			}

		.controls {
			display: none;
			}
		}
    }

/* /Main */

/* /Layout
---------------------------------------------------------------------------------- */