/* Controls list
---------------------------------------------------------------------------------- */

/*
cssg

	controls
		<control> +
*/

.controls {
	display: flex;
	flex-wrap: nowrap;

	margin: $grid-2 0;
	}

/* /Controls list
---------------------------------------------------------------------------------- */