/* Controls list
---------------------------------------------------------------------------------- */

/*
cssg

	controls
		<control> +
*/

.controls {
	display: flex;
	flex-wrap: nowrap;

	@media(--m){
		width: calc($media-m - $grid-2 * 2);
		margin: 0 auto;
		}
	}

/* /Controls list
---------------------------------------------------------------------------------- */