/* Main
---------------------------------------------------------------------------------- */

/*
cssg

	main

*/

.main {
	margin: 0 auto;
	min-width: 50%;

	@media(--n){
		max-width: 50%
		}
	}

/* /Main
---------------------------------------------------------------------------------- */