/* Moderation images scene
---------------------------------------------------------------------------------- */

/*
cssg

	scene
		scene_img			__next
			<img>
*/

.scene {
	position: relative;

	// fixme: test value
	background: rgba(255,255,255,.2);
	}

.scene_img {
	@mixin cover;
	position: absolute;

	text-align: center;


	img {
		height: 100%;
		width: auto;
		max-width: 100%;

		box-shadow: $sh-heavy;
		}
	}

/* /Moderation images scene
---------------------------------------------------------------------------------- */