/* Moderation images scene
---------------------------------------------------------------------------------- */

/*
cssg

	scene
		scene_img			__next
			<img>
*/

.scene {
	height: 50vh;

	background: $c-darkest;
	border: 4px solid $c-brand-dark;
	}

/* /Moderation images scene
---------------------------------------------------------------------------------- */